body {
    background: url(../images/bg-body.jpg) repeat;
    color: $bgColor;
    font-family: $font1;
    font-size: 14px;
    margin: 0;
    min-width: 940px;
    padding: 0;
}

a {
    outline: none;
}

img {
    border: 0;
}

p {
    margin: 0;
    text-align: justify;

    a {
        color: $bgColor;

        &:hover {
            color: #66a143;
        }
    }
}

#page {
    background: $bgColor;
    margin: 0 auto;
    padding: 0 20px;
    width: 900px;
}