/***** 1 - VARIABLES *****/
$font1: Arial, Helvetica, sans-serif;
$iconMargin: 0 0 10px;
$iconPadding: 0 0 0 30px;
$bgColor: #356618;
$colorCurrent: #96b285;

/**** 2 - IMPORTS *****/
@import 'general-style';
@import 'header';
@import 'body';
@import 'footer';